<!--hide alerts-->
<script>
$(document).ready(function(){
  $('div.alert').delay(2000).fadeOut(1000);
});
</script>

<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @lineitem.quantity %>
</p>

<p>
  <strong>Product:</strong>
  <%= @lineitem.product_id %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @lineitem.cart_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @lineitem.order_id %>
</p>
