<!--hide alerts-->
<script>
$(document).ready(function(){
  $('div.alert').delay(2000).fadeOut(1000);
});
</script>
<!-- <div class="alert alert-info"><b>hope you enjoy</b></div> -->

<div class="row">
 	 <div class="well col-xs-5 col-xs-offset-0">
		  <div class="thumbnail">
			  <%= image_tag @product.product_pic, :size => '200x200'%>
		  	<div class="caption">
				<h3 class = "center"><%= @product.product_name %></h3>
			  	<p>Description: <%= @product.description %></p>
			  	<p>Colour: <%= @product.colour %></p>
			  	<p>Size: <%= @product.size %></p>
			 	<p>Price: <%= euro @product.price %></p>
			  	<p>Code: # <%= @product.product_number %></p>
				 <% if @product.categories.any? %>
				<p>Categories: <%= render @product.categories %></p>
				<%end%>
			  </div>

			<div class="product-actions">
		<%= link_to 'View all products', products_path, class: "btn btn-md btn-success" %>
		<% if signed_in? and @current_customer.admin? %>
			<%= link_to 'Edit this product', edit_product_path(@product), class: "btn btn-md btn-primary" %>
			<%= link_to 'Delete this product', product_path(@product), method: :delete,
						data: {confirm: "Are you sure ? "},
						class: "btn btn-md btn-danger"%>
			<%end%>
		</div>
	</div>
</div>

<!-- comment -->
   	 <div class="well col-xs-5 col-xs-offset-2">
  		 <div class="well thumbnail">
  			<%= form_for([@product, Comment.new]) do |f| %>
  				</br>
            <h3><%=f.label :star %>
            <% star = [1,2,3,4,5]%>
            <%star.each do |star|%>
            <%=f.radio_button :star, star %> <%=star%>
            <%end%>
            </h3>
          </br>
  				<%= f.text_area :content, :rows => 8, :cols => 50 %>

  					<div class="form-group">
              <br>
  						<%= f.submit "Post a comment", class: 'btn btn-primary btn-lg'%>
    				</div>
  			 <%end%>
  		</div>
  	</div>
<!-- end row -->
</div>
<!-- show comment -->
</br></br>
<div class="row">
  <div class="well">
    <div class="caption">
      <% if @product.comments.empty? %>
        <h3># You are the first Comment # </h3>
      <%else%>
        <h2 class="center">What other felt about this </h2>
    </div>

    <div  class = "cont">
      <h2><% @product.comments.reverse.each do |comment| %></h2>

           <div class="panel-body wellS"></br>
                <p><h3>- <%= comment.content%></h3>
                <%= number_with_precision(@product.average_stars, precision:0)%> stars
                <h5 align="right">Posted <%= time_ago_in_words (comment.created_at)%> ago by : '
                <%= comment.customer.f_name %> '</p></h5>
           </div>
          <%end%>
      </div>
      <%end%>
    </div>
  </div>
</div>
