<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">CORE</a> -->
      <span><%=link_to "DIT Amazon", root_path, class: "navbar-brand"%></span>
      <span class="beta">Beta</span>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
         <!-- customers -->
         <% if signed_in? and @current_customer.admin? %>
             <li><%= link_to "Customers", customers_path%></li>
         <% end %>

         <!-- product -->
          <li><%= link_to "Product", products_path%></li>

         <!-- category -->
          <li><%= link_to "Categories", categories_path%></li>

      </ul>
      <!-- end nav bar -->

      <!-- search -->
      <div id = "search">
      <%= render 'products/search' %>
      </div>

      <!-- nav bar right -->
      <!-- Sign up/in/out -->
      <ul class="nav navbar-nav navbar-right">
        <% if !signed_in? %>
          <li><%= link_to "Sign in", login_path%></li>
          <li><%= link_to "Register", new_customer_path%></li>
        <% else %>
          <li><%= link_to "Sign out", logout_path, method: :delete %></li>
          <li><%= link_to "View Profile", customer_path(@current_customer)%></li>
           <% if signed_in? and !@current_customer.admin? %>
            <li><%= link_to "my cart", orders_path %></li>
           <%end%>
        <%end%>
      </ul> <!-- nav bar right -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
